body {
background: #3d98ff;
background: linear-gradient(90deg,rgba(61, 152, 255, 1) 0%, rgba(87, 199, 133, 1) 20%, rgba(237, 221, 83, 1) 16%);    color:#000;
    font-family: "Outfit", sans-serif;
}

h1 {
    font-size:3rem;
    font-weight: bold;
    font-family:  "Outfit", sans-serif;
    text-align: center;
}

h2 {
    font-size:2rem;
    font-weight: bold;
    font-family:  "Outfit", sans-serif;
    text-align: center;
}

h3 {
    font-size:1.3rem;
    font-weight: bold;
    font-family:  "Outfit", sans-serif;
    text-align: center;
}

#create-event, #admin-tools, #buy-ticket, #information {
    width:700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top:20px;
    padding:30px;
    gap: 15px;
}

#btnCreateEvent {
    background-color: #000;
    color:#ccc;
    border-radius: 10px;
    border: #000 1px solid;
    padding: 10px 20px;
    margin-top:20px;
    margin-bottom:20px;
    align-self: center;
    width: 100%;
}

#ticketPrice, #eventName, #userLimit, #deadline {
    color:#000;
    border-radius: 10px;
    border: #000 1px solid;
    padding: 10px 5px;
    margin-top:5px;
    align-self: center;
    width: 100%;
}

#open-registration, #close-registration, #withdraw-section, #buy-ticket-section, #get-info-section, #get-participants-section, #check-participant-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding:10px
}


#openEventId, #closeEventId, #buyEventId, #infoEventId, #participantsEventId, #checkEventId {
    color:#000;
    border-radius: 10px;
    border: #000 1px solid;
    padding: 10px 5px;
    flex: 1;
}

#checkAddress {
    color:#000;
    border-radius: 10px;
    border: #000 1px solid;
    padding: 10px 5px;
    flex: 1;
}

#btnOpenRegistration, #btnCloseRegistration, #btnWithdraw, #btnBuyTicket, #btnGetEventInfo, #btnGetParticipants, #btnCheckParticipant {
    background-color: #000;
    color:#ccc;
    border-radius: 10px;
    border: #000 1px solid;
    padding: 10px 20px;
    margin: 0;
    flex-shrink: 0;
}

#withdrawEventId {
    color:#000;
    border-radius: 10px;
    border: #000 1px solid;
    padding: 10px 5px;
    flex:1;
    flex-shrink: 0;
}